/*Font family Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


/*Custom Properties*/


:root {
    /* Colors */
    /* --primary: linear-gradient(180deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    --purple: hsl(237, 63%, 64%);
    */
    --primary1: hsl(237, 62%, 93%);
    --primary2: hsl(238, 63%, 89%) ;
    --primary3: hsl(237, 63%, 82%);
    --primary4:	hsl(237, 63%, 75%);
    --primary5: hsl(237, 63%, 64%);
    --primary6: hsl(237, 37%, 51%);
    --primary7: hsl(237, 35%, 45%);
    --primary8: hsl(237, 35%, 32%);
    --primary9: hsl(237, 36%, 19%);

    --gray1: hsl(220, 9%, 94%);
    --gray2: hsl(210, 9%, 87%);
    --gray3: hsl(212, 10%, 74%);
    --gray4: hsl(212, 10%, 61%);
    --gray5: hsl(213, 9%, 55%);
    --gray6: hsl(212, 11%, 48%);
    --gray7: hsl(212, 18%, 28%);
    --gray8: hsl(212, 18%, 21%);
    --gray9: hsl(212, 18%, 14%);

    --accent-green1: hsl(136, 38%, 94%);
    --accent-green2: hsl(136, 38%, 83%);
    --accent-green3: hsl(137, 39%, 72%);
    --accent-green4: hsl(137, 39%, 60%);
    --accent-green5: hsl(137, 50%, 43%);
    --accent-green6: hsl(137, 50%, 35%);
    --accent-green7: hsl(137, 50%, 26%);
    --accent-green8: hsl(136, 50%, 17%);
    
  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
    /* Fonts */

    --sans-serif: "Montserrat", Arial, sans-serif;
}


@media (min-width: 35em) {
    :root {
        /* font-sizes */
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}


/*Restes*/

*, *::before, *::after {
    box-sizing: border-box;
}

*
{
   margin: 0;
   padding: 0;
}
html {
    position: relative;
}
html, body {
    height: 100%;
    min-height: 100vh;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    
}


/*A class that stops the body from scrolling when the hamburger menu is opened*/

.no-scroll {
    height: 100%;
    overflow: hidden;
}



img, picture, video, svg, canvas {
    display: block;
    max-width: 100%;
}

button, input, textarea, select {
    font: inherit;
}


p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-weight: 400;
}




/*Utility Classes*/

.sr-only { /*for screen readers*/
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

.flex {
    display: flex;

}

.grid {
    display: grid;
}

.container {
    padding-inline: 1.2rem;
    margin-inline: auto;
    max-width: 65em; /*1440px*/
}


@media (min-width: 50rem) {
    .container {
        padding-inline: 2rem;
    }
}

@media (min-width: 50rem) {
    .container--desktop {
        max-width: 65em;
        padding-inline: 2.5rem;
    }
}


.desktop {
    display: none;
}

.mobile {
    display: block;
}

@media (min-width: 50rem) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}

/*Background Colors*/


.text-primary1 {color: var(--primary1);}
.text-primary2 {color: var(--primary2);}
.text-primary3 {color: var(--primary3);}
.text-primary4 {color: var(--primary4);}
.text-primary5 {color: var(--primary5);}
.text-primary6 {color: var(--primary6);}
.text-primary7 {color: var(--primary7);}
.text-primary8 {color: var(--primary8);}
.text-primary9 {color: var(--primary9);}

.text-gray1 {color: var(--gray1);}
.text-gray2 {color: var(--gray2);}
.text-gray3 {color: var(--gray3);}
.text-gray4 {color: var(--gray4);}
.text-gray5 {color: var(--gray5);}
.text-gray6 {color: var(--gray6);}
.text-gray7 {color: var(--gray7);}
.text-gray8 {color: var(--gray8);}
.text-gray9 {color: var(--gray9);}

.text-green1 {color: var(--accent-green1);}
.text-green2 {color: var(--accent-green2);}
.text-green3 {color: var(--accent-green3);}
.text-green4 {color: var(--accent-green4);}
.text-green5 {color: var(--accent-green5);}
.text-green6 {color: var(--accent-green6);}
.text-green7 {color: var(--accent-green7);}
.text-green8 {color: var(--accent-green8);}


 /* Text colors */

 .bg-primary1 {background-color: var(--primary1);}
.bg-primary2 {background-color: var(--primary2);}
.bg-primary3 {background-color: var(--primary3);}
.bg-primary4 {background-color: var(--primary4);}
.bg-primary5 {background-color: var(--primary5);}
.bg-primary6 {background-color: var(--primary6);}
.bg-primary7 {background-color: var(--primary7);}
.bg-primary8 {background-color: var(--primary8);}
.bg-primary9 {background-color: var(--primary9);}

.bg-gray1 {background-color: var(--gray1);}
.bg-gray2 {background-color: var(--gray2);}
.bg-gray3 {background-color: var(--gray3);}
.bg-gray4 {background-color: var(--gray4);}
.bg-gray5 {background-color: var(--gray5);}
.bg-gray6 {background-color: var(--gray6);}
.bg-gray7 {background-color: var(--gray7);}
.bg-gray8 {background-color: var(--gray8);}
.bg-gray9 {background-color: var(--gray9);}

.bg-green1 {background-color: var(--accent-green1);}
.bg-green2 {background-color: var(--accent-green2);}
.bg-green3 {background-color: var(--accent-green3);}
.bg-green4 {background-color: var(--accent-green4);}
.bg-green5 {background-color: var(--accent-green5);}
.bg-green6 {background-color: var(--accent-green6);}
.bg-green7 {background-color: var(--accent-green7);}
.bg-green8 {background-color: var(--accent-green8);}
.text-light-gray {
    color: var( --very-light-grayish-blue);
}

.text-dark-blue {
    color: var(--dark-grayish-blue);
}

.text-grayish-blue {
    color: var(--grayish-blue);
}

.text-yellow {
    color: var(--yellow);
}

/* Family fonts and font size */
.sans-serif {
    font-family: var(--sans-serif);
}

.fs-200 {
    font-size: var(--fs-200);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fs-800 {
    font-size: var(--fs-800);
}

.fs-900 {
    font-size: var(--fs-900);
}


/* General styles */


body {
    font-family: var(--sans-serif);
}

.color {
    width: 100px;
    border-radius: 8px;
    color: white;
    display: grid;
    justify-content: center;
    padding: 0.2rem 0.8rem;
}
.zero{background-color: #ebf6ee;}
.one {background-color: #c3e4cc;}
.two {background-color: #9bd3ab;}
.three {background-color: #73c189;}
.four {background-color: #37a656;}
.five {
background-color: #2c8545;
}
.six {background-color: #216434;}
.seven {
    background-color: #164222;
}
.nine {
    background-color: #10321a;
}
.ten {
    background-color: #0f1215;
}

.btn {
    border: 0;
    padding: 0.3rem 1.5rem;
    border-radius: 8px;
    font-size: var(--fs-400);
    
}

.purple {
    background-color: var(--primary3);
}

.green {
    background-color: var(--accent-green3);
}

.group {
 
    
    background-color: white;
    grid-template-columns: min-content 1fr;
    
}

 .icons {
    background-color: var(--accent-green1);
}

.form-inner {
    
    display: grid;
   padding-bottom: 0.4rem;
    
    
    width: 100%;
}
form {
    width: 100%;
    position: relative;
}

input[type="url"] {
    padding: 0.5rem 1.2rem;
    border: 0;
    border-radius: 5px;
    width: 100%;
}

input[type="url"]:focus {
    border: 0;
    padding-left: 4rem;
}

.fa-link {
    position: absolute;
    top: 50%;
    left: 2%;
    color: var(--primary3);
}

::placeholder {
    padding-left: 2rem;
}
.color-group{
    width: 250px;
    
}
.black {
    width: 50px;
    
    background-color: #0f1215;
    color: black;
}

.hex {
    background-color: white;
    padding-inline: 1rem;
}

.blue{
    color: blue;
    background-color: blue;
}

.green {
    color: var(--accent-green5);
    background-color: var(--accent-green5);
}

.red {
    color: red;
    background-color: red;
}
.size_wrapper,
.radio,
.form-colors {
    width: 100%;
}

select {
    width: 100%;
    border: 0;
    padding: 0.3rem;
}

button[type="submit"] {
    width: 100%;
    background-color: var(--primary5);
    color: white;
}

button[type="submit"]:hover {
    background-color: var(--primary4);
}

.form {
position: relative;

}

