/*Font family Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


/*Custom Properties*/


:root {
    /* Colors */
    --primary-gradient: linear-gradient(180deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    --primary1: hsl(237, 62%, 93%);
    --primary2: hsl(238, 63%, 89%) ;
    --primary3: hsl(237, 63%, 82%);
    --primary4:	hsl(237, 63%, 75%);
    --primary5: hsl(237, 63%, 64%);
    --primary6: hsl(237, 37%, 51%);
    --primary7: hsl(237, 35%, 45%);
    --primary8: hsl(237, 35%, 32%);
    --primary9: hsl(237, 36%, 19%);

    --gray1: hsl(220, 9%, 94%);
    --gray2: hsl(210, 9%, 87%);
    --gray3: hsl(212, 10%, 74%);
    --gray4: hsl(212, 10%, 61%);
    --gray5: hsl(213, 9%, 55%);
    --gray6: hsl(212, 11%, 48%);
    --gray7: hsl(212, 18%, 28%);
    --gray8: hsl(212, 18%, 21%);
    --gray9: hsl(212, 18%, 14%);

    --accent-green1: hsl(136, 38%, 94%);
    --accent-green2: hsl(136, 38%, 83%);
    --accent-green3: hsl(137, 39%, 72%);
    --accent-green4: hsl(137, 39%, 60%);
    --accent-green5: hsl(137, 50%, 43%);
    --accent-green6: hsl(137, 50%, 35%);
    --accent-green7: hsl(137, 50%, 26%);
    --accent-green8: hsl(136, 50%, 17%);
    
  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-weight */
  --fw-bold: 500;
    /* Fonts */
    --sans-serif: "Montserrat", Arial, sans-serif;
}


@media (min-width: 35em) {
    :root {
        /* font-sizes */
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}


/*Restes*/

*, *::before, *::after {
    box-sizing: border-box;
}

*
{
   margin: 0;
   padding: 0;
}
html {
    position: relative;
}
html, body {
    height: 100%;
    min-height: 100vh;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    
}


/*A class that stops the body from scrolling when the hamburger menu is opened*/

.no-scroll {
    height: 100%;
    overflow: hidden;
}



img, picture, video, svg, canvas {
    display: block;
    max-width: 100%;
}

button, input, textarea, select {
    font: inherit;
}


p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-weight: 400;
}




/*Utility Classes*/

.sr-only { /*for screen readers*/
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

.flex {
    display: flex;

}

.grid {
    display: grid;
}

.container {
    padding-inline: 1.2rem;
    margin-inline: auto;
    max-width: 65em; /*1440px*/
}


@media (min-width: 50rem) {
    .container {
        padding-inline: 2rem;
    }
}

@media (min-width: 50rem) {
    .container--desktop {
        max-width: 65em;
        padding-inline: 2.5rem;
    }
}


.desktop {
    display: none;
}

.mobile {
    display: block;
}

@media (min-width: 50rem) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}

/* Components */

.btn {
    border: 0;
    padding: 0.25rem 2rem;
    border-radius: 8px;
    font-size: var(--fs-400);
}

 /* Text colors */

.text-primary1 {color: var(--primary1);}
.text-primary2 {color: var(--primary2);}
.text-primary3 {color: var(--primary3);}
.text-primary4 {color: var(--primary4);}
.text-primary5 {color: var(--primary5);}
.text-primary6 {color: var(--primary6);}
.text-primary7 {color: var(--primary7);}
.text-primary8 {color: var(--primary8);}
.text-primary9 {color: var(--primary9);}

.text-gray1 {color: var(--gray1);}
.text-gray2 {color: var(--gray2);}
.text-gray3 {color: var(--gray3);}
.text-gray4 {color: var(--gray4);}
.text-gray5 {color: var(--gray5);}
.text-gray6 {color: var(--gray6);}
.text-gray7 {color: var(--gray7);}
.text-gray8 {color: var(--gray8);}
.text-gray9 {color: var(--gray9);}

.text-green1 {color: var(--accent-green1);}
.text-green2 {color: var(--accent-green2);}
.text-green3 {color: var(--accent-green3);}
.text-green4 {color: var(--accent-green4);}
.text-green5 {color: var(--accent-green5);}
.text-green6 {color: var(--accent-green6);}
.text-green7 {color: var(--accent-green7);}
.text-green8 {color: var(--accent-green8);}

/*Background Colors*/

.bg-primary1 {background-color: var(--primary1);}
.bg-primary2 {background-color: var(--primary2);}
.bg-primary3 {background-color: var(--primary3);}
.bg-primary4 {background-color: var(--primary4);}
.bg-primary5 {background-color: var(--primary5);}
.bg-primary6 {background-color: var(--primary6);}
.bg-primary7 {background-color: var(--primary7);}
.bg-primary8 {background-color: var(--primary8);}
.bg-primary9 {background-color: var(--primary9);}

.bg-gray1 {background-color: var(--gray1);}
.bg-gray2 {background-color: var(--gray2);}
.bg-gray3 {background-color: var(--gray3);}
.bg-gray4 {background-color: var(--gray4);}
.bg-gray5 {background-color: var(--gray5);}
.bg-gray6 {background-color: var(--gray6);}
.bg-gray7 {background-color: var(--gray7);}
.bg-gray8 {background-color: var(--gray8);}
.bg-gray9 {background-color: var(--gray9);}

.bg-green1 {background-color: var(--accent-green1);}
.bg-green2 {background-color: var(--accent-green2);}
.bg-green3 {background-color: var(--accent-green3);}
.bg-green4 {background-color: var(--accent-green4);}
.bg-green5 {background-color: var(--accent-green5);}
.bg-green6 {background-color: var(--accent-green6);}
.bg-green7 {background-color: var(--accent-green7);}
.bg-green8 {background-color: var(--accent-green8);}



/* Family fonts and font size */
.sans-serif {font-family: var(--sans-serif);}

.fs-200 {font-size: var(--fs-200);}
.fs-300 {font-size: var(--fs-300);}
.fs-400 {font-size: var(--fs-400);}
.fs-500 {font-size: var(--fs-500);}
.fs-600 {font-size: var(--fs-600);}
.fs-700 {font-size: var(--fs-700);}
.fs-800 {font-size: var(--fs-800);}
.fs-900 {font-size: var(--fs-900);}


.fw-bold {font-weight: var(--fw-bold);}

/* General styles */


body {
    font-family: var(--sans-serif);
}


/*header & navbar*/
.header {
    border-bottom: 1px solid var(--gray1);
}

.header__wrapper {
    padding-block: 2rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    width: 200px;
}


.navbar__list {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.navbar__list__link {
    color: var(--primary9);
    text-decoration: none;
    font-weight: 500;
}


/* Hero section */

.hero {
    padding-block: 3.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.hero__inner {
    padding: 5rem 0;
    
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3cpath d='M8.43 426.96L73.38 464.46L73.38 539.46L8.43 576.96L-56.52 539.46L-56.52 464.46zM73.38 539.46L138.34 576.96L138.34 651.96L73.38 689.46L8.43 651.96L8.43 576.96zM203.29 89.46L268.25 126.96L268.25 201.96L203.29 239.46L138.34 201.96L138.34 126.96zM138.34 426.96L203.29 464.46L203.29 539.46L138.34 576.96L73.38 539.46L73.38 464.46zM203.29 539.46L268.25 576.96L268.25 651.96L203.29 689.46L138.34 651.96L138.34 576.96zM398.15 -23.04L463.11 14.46L463.11 89.46L398.15 126.96L333.2 89.46L333.2 14.46zM463.11 314.46L528.06 351.96L528.06 426.96L463.11 464.46L398.15 426.96L398.15 351.96zM398.15 426.96L463.11 464.46L463.11 539.46L398.15 576.96L333.2 539.46L333.2 464.46zM528.06 -23.04L593.01 14.46L593.01 89.46L528.06 126.96L463.11 89.46L463.11 14.46zM722.92 539.46L787.88 576.96L787.88 651.96L722.92 689.46L657.97 651.96L657.97 576.96zM852.83 89.46L917.78 126.96L917.78 201.96L852.83 239.46L787.87 201.96L787.87 126.96zM787.87 201.96L852.83 239.46L852.83 314.46L787.87 351.96L722.92 314.46L722.92 239.46zM852.83 539.46L917.78 576.96L917.78 651.96L852.83 689.46L787.87 651.96L787.87 576.96zM982.74 89.46L1047.69 126.96L1047.69 201.96L982.74 239.46L917.78 201.96L917.78 126.96zM982.74 314.46L1047.69 351.96L1047.69 426.96L982.74 464.46L917.78 426.96L917.78 351.96zM982.74 539.46L1047.69 576.96L1047.69 651.96L982.74 689.46L917.78 651.96L917.78 576.96zM1047.69 -23.04L1112.64 14.46L1112.64 89.46L1047.69 126.96L982.74 89.46L982.74 14.46zM1047.69 201.96L1112.64 239.46L1112.64 314.46L1047.69 351.96L982.74 314.46L982.74 239.46zM1307.51 201.96L1372.46 239.46L1372.46 314.46L1307.51 351.96L1242.55 314.46L1242.55 239.46zM1502.37 314.46L1567.32 351.96L1567.32 426.96L1502.37 464.46L1437.41 426.96L1437.41 351.96zM1502.37 539.46L1567.32 576.96L1567.32 651.96L1502.37 689.46L1437.41 651.96L1437.41 576.96z' stroke='rgba(53%2c 56%2c 110%2c 0.07)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0.93 426.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM65.88 464.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM65.88 539.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM0.93 576.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-64.02 539.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-64.02 464.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM130.84 576.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM130.84 651.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM65.88 689.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM0.93 651.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM195.79 89.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM260.75 126.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM260.75 201.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM195.79 239.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM130.84 201.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM130.84 126.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM130.84 426.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM195.79 464.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM195.79 539.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM260.75 576.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM260.75 651.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM195.79 689.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM390.65 -23.04 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM455.61 14.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM455.61 89.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM390.65 126.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM325.7 89.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM325.7 14.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM455.61 314.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM520.56 351.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM520.56 426.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM455.61 464.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM390.65 426.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM390.65 351.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM455.61 539.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM390.65 576.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM325.7 539.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM325.7 464.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM520.56 -23.04 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM585.51 14.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM585.51 89.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM520.56 126.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM715.42 539.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM780.38 576.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM780.38 651.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM715.42 689.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM650.47 651.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM650.47 576.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM845.33 89.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM910.28 126.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM910.28 201.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM845.33 239.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM780.37 201.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM780.37 126.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM845.33 314.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM780.37 351.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM715.42 314.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM715.42 239.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM845.33 539.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM910.28 576.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM910.28 651.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM845.33 689.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM780.37 651.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM780.37 576.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM975.24 89.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1040.19 126.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1040.19 201.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM975.24 239.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM975.24 314.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1040.19 351.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1040.19 426.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM975.24 464.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM910.28 426.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM910.28 351.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM975.24 539.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1040.19 576.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1040.19 651.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM975.24 689.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1040.19 -23.04 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1105.14 14.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1105.14 89.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM975.24 14.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1105.14 239.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1105.14 314.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1300.01 201.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1364.96 239.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1364.96 314.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1300.01 351.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1235.05 314.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1235.05 239.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1494.87 314.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1559.82 351.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1559.82 426.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1494.87 464.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1429.91 426.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1429.91 351.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1494.87 539.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1559.82 576.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1559.82 651.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1494.87 689.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1429.91 651.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1429.91 576.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='rgba(53%2c 56%2c 110%2c 0.07)'%3e%3c/path%3e%3cpath d='M15.75 -1.46L59.05 23.54L59.05 73.54L15.75 98.54L-27.55 73.54L-27.55 23.54zM59.05 223.54L102.36 248.54L102.36 298.54L59.05 323.54L15.75 298.54L15.75 248.54zM15.75 298.54L59.05 323.54L59.05 373.54L15.75 398.54L-27.55 373.54L-27.55 323.54zM15.75 448.54L59.05 473.54L59.05 523.54L15.75 548.54L-27.55 523.54L-27.55 473.54zM145.66 373.54L188.96 398.54L188.96 448.54L145.66 473.54L102.36 448.54L102.36 398.54zM102.36 448.54L145.66 473.54L145.66 523.54L102.36 548.54L59.05 523.54L59.05 473.54zM232.26 223.54L275.56 248.54L275.56 298.54L232.26 323.54L188.96 298.54L188.96 248.54zM188.96 448.54L232.26 473.54L232.26 523.54L188.96 548.54L145.66 523.54L145.66 473.54zM232.26 523.54L275.56 548.54L275.56 598.54L232.26 623.54L188.96 598.54L188.96 548.54zM275.56 148.54L318.87 173.54L318.87 223.54L275.56 248.54L232.26 223.54L232.26 173.54zM318.87 223.54L362.17 248.54L362.17 298.54L318.87 323.54L275.56 298.54L275.56 248.54zM405.47 73.54L448.78 98.54L448.78 148.54L405.47 173.54L362.17 148.54L362.17 98.54zM362.17 148.54L405.47 173.54L405.47 223.54L362.17 248.54L318.87 223.54L318.87 173.54zM405.47 523.54L448.78 548.54L448.78 598.54L405.47 623.54L362.17 598.54L362.17 548.54zM492.08 73.54L535.38 98.54L535.38 148.54L492.08 173.54L448.78 148.54L448.78 98.54zM448.78 148.54L492.08 173.54L492.08 223.54L448.78 248.54L405.47 223.54L405.47 173.54zM492.08 223.54L535.38 248.54L535.38 298.54L492.08 323.54L448.78 298.54L448.78 248.54zM448.78 448.54L492.08 473.54L492.08 523.54L448.78 548.54L405.47 523.54L405.47 473.54zM535.38 -1.46L578.68 23.54L578.68 73.54L535.38 98.54L492.08 73.54L492.08 23.54zM578.68 73.54L621.99 98.54L621.99 148.54L578.68 173.54L535.38 148.54L535.38 98.54zM535.38 298.54L578.68 323.54L578.68 373.54L535.38 398.54L492.08 373.54L492.08 323.54zM535.38 448.54L578.68 473.54L578.68 523.54L535.38 548.54L492.08 523.54L492.08 473.54zM578.68 523.54L621.99 548.54L621.99 598.54L578.68 623.54L535.38 598.54L535.38 548.54zM665.29 223.54L708.59 248.54L708.59 298.54L665.29 323.54L621.99 298.54L621.99 248.54zM665.29 373.54L708.59 398.54L708.59 448.54L665.29 473.54L621.99 448.54L621.99 398.54zM751.89 73.54L795.2 98.54L795.2 148.54L751.89 173.54L708.59 148.54L708.59 98.54zM751.89 223.54L795.2 248.54L795.2 298.54L751.89 323.54L708.59 298.54L708.59 248.54zM708.59 298.54L751.89 323.54L751.89 373.54L708.59 398.54L665.29 373.54L665.29 323.54zM838.5 373.54L881.8 398.54L881.8 448.54L838.5 473.54L795.2 448.54L795.2 398.54zM795.2 448.54L838.5 473.54L838.5 523.54L795.2 548.54L751.89 523.54L751.89 473.54zM838.5 523.54L881.8 548.54L881.8 598.54L838.5 623.54L795.2 598.54L795.2 548.54zM925.1 73.54L968.41 98.54L968.41 148.54L925.1 173.54L881.8 148.54L881.8 98.54zM881.8 448.54L925.1 473.54L925.1 523.54L881.8 548.54L838.5 523.54L838.5 473.54zM968.41 148.54L1011.71 173.54L1011.71 223.54L968.41 248.54L925.1 223.54L925.1 173.54zM1055.01 -1.46L1098.31 23.54L1098.31 73.54L1055.01 98.54L1011.71 73.54L1011.71 23.54zM1098.31 223.54L1141.62 248.54L1141.62 298.54L1098.31 323.54L1055.01 298.54L1055.01 248.54zM1055.01 448.54L1098.31 473.54L1098.31 523.54L1055.01 548.54L1011.71 523.54L1011.71 473.54zM1098.31 523.54L1141.62 548.54L1141.62 598.54L1098.31 623.54L1055.01 598.54L1055.01 548.54zM1141.62 -1.46L1184.92 23.54L1184.92 73.54L1141.62 98.54L1098.31 73.54L1098.31 23.54zM1184.92 73.54L1228.22 98.54L1228.22 148.54L1184.92 173.54L1141.62 148.54L1141.62 98.54zM1141.62 298.54L1184.92 323.54L1184.92 373.54L1141.62 398.54L1098.31 373.54L1098.31 323.54zM1228.22 -1.46L1271.52 23.54L1271.52 73.54L1228.22 98.54L1184.92 73.54L1184.92 23.54zM1271.52 73.54L1314.83 98.54L1314.83 148.54L1271.52 173.54L1228.22 148.54L1228.22 98.54zM1271.52 373.54L1314.83 398.54L1314.83 448.54L1271.52 473.54L1228.22 448.54L1228.22 398.54zM1401.43 148.54L1444.73 173.54L1444.73 223.54L1401.43 248.54L1358.13 223.54L1358.13 173.54zM1444.73 223.54L1488.04 248.54L1488.04 298.54L1444.73 323.54L1401.43 298.54L1401.43 248.54zM1401.43 298.54L1444.73 323.54L1444.73 373.54L1401.43 398.54L1358.13 373.54L1358.13 323.54zM1444.73 373.54L1488.04 398.54L1488.04 448.54L1444.73 473.54L1401.43 448.54L1401.43 398.54zM1444.73 523.54L1488.04 548.54L1488.04 598.54L1444.73 623.54L1401.43 598.54L1401.43 548.54z' stroke='rgba(105%2c 111%2c 221%2c 0.13)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
}


.hero__inner__title {
    line-height: 1;
    padding-block-end: 0.8rem;

}

.hero__inner__p {
   
    padding-block-end: 1rem;
}


form {
    
    display: flex;
    flex-direction: column;
}

input[type="url"] {
    padding: 0.3rem 0.6rem;
    border: 0;
    border-radius: 8px;
    margin-bottom: 0.6rem;
}
 
input[type="url"]:focus {
    border: 0;
    outline: 0;
}

.hero__inner__form-btn {
    background-image: var(--primary-gradient);
    color: white;
    font-weight: 600;
}

